header
{
    background-color: #ffffff;
    width: 100%;
    display: block;
    border-bottom: 1px solid #666666;
}

body
{
    margin: 0 auto;
    background-image: url(../images/interlaced.png)
}

.logo
{
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    width: fit-content;
    display: block;
    position: relative;    
    left: 18.5%; 
    /*This 18.5% was trial and error again.*/
}

nav
{
    margin: 0;
    position: absolute;
    right: 18.5%;
    top: 0px;   
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    list-style-type: none; 
    display: inline-block;
    padding: 15px;
    right: 105%; 
    /*Trial and error to figure out the best position for the right (105%) - is there a better way?*/
}

a
{
    text-decoration: none;
}

h1
{
    color: #4aaaa5;
    padding: 20px;
    background-color: #ffffff;
    
}

hr
{
    position: relative;
    top: -15px;
    margin: 0 20px;
}

#form
{
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    height: 550px;
}

#contact-form 
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;  
    position: relative;
    right: 35px;
}

label
{  
    list-style-type: none; 
    display: block;
}

input[type=text] input[type=email]
{
    /* Width = 960px - 40px (hr padding) */
    width: 920px;
}

input[type=submit] /*Issue with altering the submit button*/
{
    background-color: #4aaaa5;
    color: #ffffff;
    width: auto;
    border: none;
    position: relative;
    left: 55px;
    padding: 10px 25px;
    font-size: 15px;
}

textarea
{
    height: 150px;
    overflow: auto;
    width: 920px;
}

footer
{
    text-align: center;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #ffffff;
    font-size: 10px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    border-top: 10px solid #4aaaa5;
}
