header
{
    background-color: #ffffff;
    width: 100%;
    display: block;
}

body
{
    margin: 0 auto;
    background-image: url(../images/interlaced.png)
}

.logo
{
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    width: fit-content;
    display: block;
    position: relative;    
    left: 18.5%; 
    /*This 18.5% was trial and error again.*/
}

nav
{
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;   
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    list-style-type: none; 
    display: inline-block;
    padding: 15px;
    position: relative;
    top: -10px;
    right: 105%; 
    /*Trial and error to figure out the best position for the right (105%) - is there a better way?*/
}

a
{
    text-decoration: none;
}

h1
{
    color: #4aaaa5;
    padding: 20px;
    background-color: #ffffff;
    margin: 
}

#contact-form
{
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

#form
{
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

label
{  
    list-style-type: none;
}

.submit
{
    background-color: #4aaaa5;

}

textarea
{
    height: 200px;
    overflow: auto;
}

.submit

footer
{
    text-align: center;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #ffffff;
    font-size: 10px;
    padding-top: 20px;
    position: absolute;
    height: 20px;
}
